<div>
    <h2>Estadísticas de contenido</h2>
    <table name="tableStats" id="tableStats">
    <tr>
        <td>Preguntas totales:</td><td><%= stats.totalquizes %></td>
    </tr>
    <tr>
        <td>Comentarios totales:</td><td><%= stats.totalcomments %></td>
    </tr>    
    <tr>
        <td>Media de comentarios por pregunta:</td><td><%= stats.mediacomments %></td>
    </tr>    
    <tr>
        <td>Preguntas con comentarios:</td><td><%= stats.quizes_concomments %></td>
    </tr>        
    <tr>
        <td>Preguntas sin comentarios:</td><td><%= stats.quizes_sincomments %></td>
    </tr>    
    </table
</div>