<div>
<table id="quizes">
<% var i; for (i=0; i < quizes.length; i++) { %>
    <tr>
        <td><span class="tema"><%= quizes[i].tema %></span><br><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></td>
        <td class="accion"><a title="Editar" href="quizes/<%= quizes[i].id %>/edit"><button class="btEdit">&nbsp;</button></a></td>
        <td class="accion">
            <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
                <button type="submit" class="btDelete" title="Eliminar" onclick="return confirm('Borrar <%= quizes[i].pregunta %>?');">&nbsp;</button>
            </form>
        </td>
    </tr>
<% }    
if (quizes.length <= 0) { %>
    <tr><td colspan="3">No se hallaron coincidencias. Cambie el criterio de búsqueda y pruebe de nuevo</td></tr>
<% } %>
    <tr>
        <td>
            <form id="quizsearch" method="get" action="/quizes">
                <input type="text" name="search"><input type="submit" class="btSearch" title="Buscar" value="&nbsp;">
            </form>
        </td>
        <td colspan="2"><a title="Crear pregunta" href="/quizes/new"><button class="btNew">&nbsp;</button></a></td>
    </tr>
</table>
</div>